body {
  background-color: #282828;
  overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/*template for buttons */

.paintbrush {
  background-image: url(Color/scalable/apps/gimp-tool-paintbrush.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.pencil {
  background-image: url(Color/scalable/apps/gimp-tool-pencil.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.airbrush {
  background-image: url(Color/scalable/apps/gimp-tool-airbrush.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(50deg);
}

.eraser {
  background-image: url(Color/scalable/apps/gimp-tool-eraser.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.bucketFill {
  background-image: url(Color/scalable/apps/gimp-tool-bucket-fill.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.ink {
  background-image: url(Color/scalable/apps/gimp-tool-ink.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.crop {
  background-image: url(Color/scalable/apps/gimp-tool-crop.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.smudge {
  background-image: url(Color/scalable/apps/gimp-tool-smudge.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.changeColor {
  background-image: url(icons/changeColor.png);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.move {
  background-image: url(Color/scalable/apps/gimp-tool-move.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.text {
  background-image: url(Color/scalable/apps/gimp-tool-text.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}

.transform {
  background-image: url(Color/scalable/apps/gimp-tool-unified-transform.svg);
  width: 57px;
  height: 57px;
  background-size: 100% 100%;
  filter: saturate(50%) hue-rotate(25deg);
}