body {
  background-color: #282828;
}

/*template for buttons */

.paintbrush {
  background-image: url(Color/scalable/apps/gimp-tool-paintbrush.svg);
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

.pencil {
  background-image: url(Color/scalable/apps/gimp-tool-pencil.svg);
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

.airbrush {
  background-image: url(Color/scalable/apps/gimp-tool-airbrush.svg);
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

.eraser {
  background-image: url(Color/scalable/apps/gimp-tool-eraser.svg);
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

.bucket-fill {
  background-image: url(Color/scalable/apps/gimp-tool-bucket-fill.svg);
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

.ink {
  background-image: url(Color/scalable/apps/gimp-tool-ink.svg);
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

.crop {
  background-image: url(Color/scalable/apps/gimp-tool-crop.svg);
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

.changeColor {
  background-image: url(icons/changeColor.png);
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}



/*.increase-brush-size {
  background-image: url(icons/IncreaseBrushSize.PNG);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.decrease-brush-size {
  background-image: url(icons/DecreaseBrushSize.PNG);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.click {
  background-image: url(icons/Click.PNG);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.line {
  background-image: url(icons/Line.PNG);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.oval {
  background-image: url(icons/Oval.PNG);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.text {
  background-image: url(icons/Text.PNG);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.color {
  background-image: url(icons/Color.PNG);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}*/
